@media (max-width:1199px)
{
	.slider h3{font-size: 38px;}
}
@media (max-width:991px){
	.bar-icon{display: none !important;}
    .logo{height: 60px;}
    .navbar-nav {margin-top: 15px;}
    .slider h3{font-size: 38px;}
    .slider{padding: 60px 0 0;}
    .mouse{margin-top: 50px;}
    .sec-gap{padding: 80px 0;}
    .what-content{padding-left: 0;}
    .what-content h4{font-size: 28px;}
    .perfect h4{font-size: 40px;}
    .icon-inner{width: 33.33% !important;}
    .perfect .icon-inner{margin-bottom: 15px;}
    .navbar ul li a{margin: 0;margin-bottom: 10px;}
    .navbar{padding: 20px 15px 0;}
    .what-right-sec{height: 450px;}
    .what-left{margin-bottom: 30px;}
    .slide-content{margin-bottom: 20px;}
    .menu-desk{display: none;}
    .menu-mob{display: block;}
}
@media (max-width: 767px){
	.slider h3{font-size: 34px;}
    .slider{padding: 50px 0 0;}
    .mouse{margin-top: 35px;}
    .sec-gap{padding: 60px 0;}
    .what-content h4{font-size: 22px;}
    .what-content p,.perfect p{font-size: 14px;}
    .what-content{margin-top: 20px;}  
    .perfect h4{font-size: 34px;}
    .icon-inner,.slider-icon-inner{width: 50% !important;}
    .copyright a{text-align: center;}
    .footer ul{justify-content: center;}
    .footer {padding-bottom: 30px;}
    .navbar{padding: 15px}
    .what-left h4{font-size: 20px;}
}
@media (max-width: 575px){
	.slider h3{font-size: 28px;}
    .slider{padding: 40px 0 0;}
    .mouse{margin-top: 25px;}
    .sec-gap{padding: 40px 0;}
    .perfect h4{font-size:28px;}
    .icon-round{height: 120px;width: 120px;line-height: 120px;}
    .socal-icon-wrapper .social-inner{width: 50%;}
    .footer {padding-bottom: 20px;}
}
@media (max-width: 450px){
    .circle1,.circle2,.circle3{width: 100%;height:200px;border-radius: 0;}
    .what-right-sec{height: 370px;}
}
