.text_green{font-size: 40px;}
.marquee_text{font-size: 22px;
    text-decoration: none;}
	.free_consultation_div_box .life_box_blue  { min-height: 320px;;}
@media (max-width:1199px)
{
	.slider h3{font-size: 38px;}
}
@media (max-width:991px){
	.bar-icon{display: none !important;}
    .logo{height: 50px;}
    .navbar-nav {margin-top: 15px;}
    .slider h3{font-size: 38px;}
    .slider{padding: 60px 0 0;}
    .mouse{margin-top: 50px;}
    .sec-gap{padding: 80px 0;}
    .what-content{padding-left: 0;}
    .what-content h4{font-size: 28px;}
    .perfect h4{font-size: 40px;}
    .icon-inner{width: 33.33% !important;}
    .perfect .icon-inner{margin-bottom: 15px;}
    .navbar ul li a{margin: 0;margin-bottom: 10px;}
    .navbar{padding: 20px 15px 0;}
    .what-right-sec{height: 450px;}
    .what-left{margin-bottom: 30px;}
    .slide-content{margin-bottom: 20px;}
    .menu-desk{display: none;}
    .menu-mob{display: block;}
    .earth_content{width: 125px; height: 125px;}
	.earth_content p{margin-top: 43px;}
	.earth_content4 { top: 3%;left: 9px; }.earth_content5 { top: 3%;right: 16px; }.earth_content6 { bottom: 5%;left: 7px; }
	.earth_content7 { bottom: 6%; right: 12px; }.earth_content2 { top: 29%; left: 32%; }
	.social-text { padding-right: 0px;padding-bottom: 100px; }
	.hidemobile{display:block;}
	.showdesktop{display:none;}
	.testimonial{display: block;}
	.testimonial-content{float: none;}.circle1{height: 350px; width: 350px;}
    .item{padding: 10px;}
}
@media (max-width: 767px){
	.slider h3{font-size: 34px;}
    .slider{padding: 50px 0 0;}
    .mouse{margin-top: 35px;}
    .sec-gap{padding: 60px 0;}
    .what-content h4{font-size: 22px;}
    .what-content p,.perfect p{font-size: 14px;}
    .what-content{margin-top: 20px;}  
    .perfect h4{font-size: 34px;}
    .icon-inner,.slider-icon-inner{width: 50% !important;}
    .copyright a{text-align: center;}
    .footer ul{justify-content: center;}
    .footer {padding-bottom: 30px;}
    .navbar{padding: 15px}
    .what-left h4{font-size: 20px;}
    .item{padding: 0px;}
	.text_green{font-size: 24px;}
	.marquee_text{font-size: 14px;}
	.slider_text{font-size: 14px;}
	.slider_btn{display:none;}
	.free_consultation_div_box .col-3  { flex: 1; max-width: 100%;width: 100%;}
	.free_consultation_div_box .life_box_blue  {margin-bottom: 10px;min-height: auto;}
}
@media (max-width: 575px){
	.slider h3{font-size: 28px;}
    .slider{padding: 40px 0 0;}
    .mouse{margin-top: 25px;}
    .sec-gap{padding: 30px 10px;}
    .perfect h4{font-size:28px;}
    .icon-round{height: 120px;width: 120px;line-height: 120px;}
    .socal-icon-wrapper .social-inner{width: 50%;}
    .footer {padding-bottom: 20px;}
    .sec-gap120 { padding: 0px 0;}
    .social-text { padding-top: 30px;padding-bottom: 30px;}
}
@media (max-width: 450px){
   /* .circle1,.circle2,.circle3{width: 100%;height:200px;border-radius: 0;}
    .what-right-sec{height: 370px;}*/
	
}
