@font-face {
	font-family: 'Poppins-Bold';
	src: url('../fonts/Poppins-Bold.eot') format('eot'), url('../fonts/Poppins-Bold.svg') format('svg'),
		url('../fonts/Poppins-Bold.ttf') format('ttf'), url('../fonts/Poppins-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins-Light';
	src: url('../fonts/Poppins-Light.eot') format('eot'), url('../fonts/Poppins-Light.svg') format('svg'),
		url('../fonts/Poppins-Light.ttf') format('ttf'), url('../fonts/Poppins-Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins-Medium';
	src: url('../fonts/Poppins-Medium.eot') format('eot'), url('../fonts/Poppins-Medium.svg') format('svg'),
		url('../fonts/Poppins-Medium.ttf') format('ttf'), url('../fonts/Poppins-Medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins-Regular';
	src: url('../fonts/Poppins-Regular.eot') format('eot'), url('../fonts/Poppins-Regular.svg') format('svg'),
		url('../fonts/Poppins-Regular.ttf') format('ttf'), url('../fonts/Poppins-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins-SemiBold';
	src: url('../fonts/Poppins-SemiBold.eot') format('eot'), url('../fonts/Poppins-SemiBold.svg') format('svg'),
		url('../fonts/Poppins-SemiBold.ttf') format('ttf'), url('../fonts/Poppins-SemiBold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
/*@import 'react-redux-toastr/src/styles/index' */

body {
	font-family: 'Poppins-Regular' !important;
    background-color: #F0F0F0 !important;
}

/*====header=====*/
.navbar{padding: 30px 15px 0;}
.navbar ul li a{display: inline-block; color: #231E22;padding:6px 11px;box-shadow: 7px 7px 14px #d8d8d8, -7px -7px 14px #ffffff;
border-radius: 10px;margin: 0 10px;transition: all 0.5s;}
.navbar ul li a:hover{color: #86e0d5;text-decoration: none;}
.navbar ul li a img{height: 15px;}
.header-icon{display: flex;align-items: center;list-style: none;padding-left: 0;margin-bottom: 0}
.logo{height: 85px;}
.menu-mob{display: none;}
.menu-mob ul li{position:relative;margin:0 5px;}
.menu-mob ul {margin-bottom: 0;padding-left: 0;list-style: none;}
.menu-mob .mobile-list{border-radius:10px;position: absolute;top:100%;background:#f0f0f0;z-index:111;right: 0;width: 300px;box-shadow: 7px 7px 14px #ababab, -7px -7px 14px #ffffff;padding: 15px;}
.menu-mob .mobile-list li a{display: block;text-align: center;}
.menu-desk{display: flex;}
.m-icon.icon .fa-bars:before,.bar-icon.icon .fa-bars:before{content: "\f00d";}

/*====slider====*/
.slider{padding:80px 0 0;position: relative;}
.slider .right-img{position: absolute;right: 0;top: 10%;}
.slider .left-img{position: absolute;left: 0;bottom: 0;}
.slider h3{padding-left:10px;font-size: 44px;color: #282327;letter-spacing: 2.1px;font-weight: 600;margin-bottom: 25px;}
.slider p {padding-left:10px;margin:15px 0;color: #282327;font-size:18px;letter-spacing: 0.84px;}
 .slide-btn{margin-left:10px;margin-top:15px;padding: 15px 30px;display: inline-block;box-shadow:  7px 7px 14px #d8d8d8, -7px -7px 14px #ffffff;border-radius: 10px;background-color: #0C2494;
    letter-spacing: 0.6px;
    color: #fff !important;}
.slide-btn img{height: 12px;margin-left: 10px;}
.slide-btn:hover{text-decoration: none;color: #231E22;}
.mouse{margin-top: 60px;}
.mouse a{text-align: center;display: block;color: #282327;}
.mouse a:hover{text-decoration: none;}
.slider-icon{display: flex;flex-wrap: wrap;}
.slider-icon .slider-icon-inner{width:33.33%;padding: 0 5px;margin-bottom: 15px;}
.slider-icon-content{background: #f0f0f0;text-align: center;border-radius: 10px;box-shadow:inset 7px 7px 9px #bcbcbc, inset -7px -7px 13px #ffffff;padding: 10px 0;}
.slider-icon-content h5{font-weight: 600;font-size:18px;color: #231E22;}
.slider-icon-content p{font-size: 12px;color: #231E22;margin-bottom: 0;margin-top: 10px;}
/*====whats is ====*/
.sec-gap{padding: 80px 0;}
.sec-gap120{padding: 80px 0;}
.what-img{    background: #f0f0f0;position: relative;box-shadow:inset 7px 7px 9px #bcbcbc, inset -7px -7px 13px #ffffff;padding: 17px;border-radius: 20px;}
.what-is .what-right{position: absolute;right: 0;}
.what-img img{border-radius: 20px;}
.what-img .icon{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
.what-img .icon img{height:100px;}
.what-content{padding-left: 100px;}
.what-content h4{letter-spacing: 1.5px;font-size:38px;color: #231E22;margin-bottom: 20px;font-weight: 600;}
.what-content p{letter-spacing: 0.84px;color: #231E22;}
.what-left h4{letter-spacing: 1.5px;color: #231E22;font-weight: 600;margin-bottom: 50px;font-size: 26px;}
.what-left .slide-btn{margin-top: 30px;}
.what-right-sec{position:relative;}
.circle1{position:absolute;left:50%;transform:translateX(-50%);height: 450px;width: 450px;border-radius: 50%;background: linear-gradient(13deg, rgba(255,133,133,1) 0%, rgba(255,113,146,1) 100%);}
.circle2{position: absolute;left: 50%;transform: translateX(-50%);top: 90px;height: 350px;width: 350px;border-radius: 50%;background: linear-gradient(164deg, rgba(27,185,198,1) 0%, rgba(134,224,213,1) 100%);}
.circle3{position: absolute;left: 50%;transform: translateX(-50%);top: 180px;height: 250px;width: 250px;border-radius: 50%;background: linear-gradient(164deg, rgba(222,98,98,1) 0%, rgba(255,184,140,1) 100%);}
.circle3 div{ position: absolute;top: 50%;left: 50%;transform: translate(-50% , -50%);text-align: center;}
.circle2 div,.circle1 div{margin-top: 20px;width: 200px;margin: 15px auto;text-align: center;}
.circle3 h6,.circle2 h6,.circle1 h6{font-size: 15px;color: #fff;}
.circle3 p,.circle2 p,.circle1 p{font-size: 10px;color: #fff;margin-bottom: 0;}
/*====perfect====*/
.perfect{position: relative;}
.perfect .per-right{position: absolute;right: 0;top: 35%;}
.perfect .per-left{position: absolute;left: 0;top: 0;}
.perfect h4{margin-bottom:20px;text-align: center;color: #231E22;letter-spacing: 1.5px;font-size: 50px;font-weight: 600;}
.perfect p{letter-spacing: 0.84px;color: #231E22;font-size:18px;text-align: center;}
.perfect .icon-main{display: flex;flex-wrap: wrap;margin-top: 50px;}
.perfect .icon-inner{width: 25%;padding:0 10px;}
.icon-round{transition:all 0.5s;height:160px;width: 160px;border-radius: 50%;box-shadow: inset 7px 7px 9px #bcbcbc, inset -7px -7px 13px #ffffff;text-align: center;margin:0 auto;line-height: 160px;}
.perfect .icon-content span{color: #231E22;display: block;text-align: center;margin-top: 20px;font-weight: 600;font-size: 20px;}
.perfect .icon-content{transition:all 0.5s;background:#f0f0f0;padding:0 15px;border-radius: 10px;box-shadow: inset 7px 7px 9px #bcbcbc, inset -7px -7px 13px #ffffff;padding:25px 0;}
.perfect .icon-content:hover .icon-round{ transform: scale(1.3);}
.perfect .icon-content:hover{border-radius: 20px;}


/*====social====*/
.socal-icon-wrapper{display: flex;flex-wrap: wrap;}
.socal-icon-wrapper .social-inner{width: 33.33%;padding:0 10px;margin-bottom: 20px;}
.socal-icon-wrapper .social-content{transition: all 0.5s;padding:15px;}
.socal-icon-wrapper .social-content:hover .con-small{transition: all 0.5s;background: #86e0d5;}
.socal-icon-wrapper .social-content:hover .con-small img{    filter: brightness(2.5);}
.socal-icon-wrapper .social-content:hover  p{color: #fff;}
.socal-icon-wrapper .con-small{border-radius: 10px;padding: 10px;}
.social-content{    background: #f0f0f0;text-align:center;border-radius: 10px;    box-shadow:7px 7px 14px #d8d8d8, -7px -7px 14px #ffffff;}
.social-content img{height: 40px;}
.social-content p{font-weight: 600;margin: 10px 0 0;color: #231E22;}
.social{position: relative;}
.social-left{position: absolute;left: -8%;top: -12%;z-index: -1;}
.social-text{padding-right: 100px;}
.social-text p{letter-spacing: 0.96px;color: #231E22;}
.social h3{text-align: center;letter-spacing: 1.5px;color: #231E22;font-weight: 600;margin-bottom: 70px;font-size: 32px;}


/*====footer====*/
.footer{ position: relative; padding-bottom: 25px; padding-top: 25px;}
.footer-left{position: absolute;left: 0;bottom:65;height: 150px;}
.footer-bottom{position: absolute;right: 0;bottom: 0;}
.footer ul{list-style: none;display: flex;padding-left: 0;    flex-wrap: wrap;}
.footer ul li a{color: #231E22;letter-spacing: 0.64px;display: inline-block;padding: 0 22px;transition: all 0.5s;}
.footer ul li a:hover,.copyright a:hover{text-decoration: none;color: #86e0d5}
.copyright a{text-align: right;display: block;color: #231E22;}
.copyright a img{ width: 20px;margin-top: -4px;margin-right: 7px;}
.risk_box {
    box-shadow: 7px 7px 14px #d8d8d8, -7px -7px 14px #ffffff;
    border-bottom: 3px solid #0AA693;
}
.margin0 {margin: 0px !important;}
.padding_b_0 {padding-bottom: 0px;}
.padding10 {padding: 10px;}
.risk_first_image {border-radius: 5px;}
.bg_image_layer {
    background-image: url(../images/bglayer.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.font_size_14 {
    font-size: 14px !important;
}
.product-label{display: block; text-align: center; margin-bottom: 5px; text-transform: uppercase; padding: 5px 11px; color: #fff; font-weight: 600; font-size: 10px; line-height: 1; border-radius: 12px;}
.label-hot{background-color: #2ba968;}
.label-sale {background-color: #0e9d8b;}
.icon-content{position: relative;}
.label-group{position: absolute; top: 0.8rem; left: 0.8rem;}
.clients_reviews {font-weight: 600;color: #231E22;opacity: 1;}
.testimonial { display: flex; margin-top: 50px; background-color: #fff; margin: 10px; border-radius: 5px; box-shadow: 1px 1px 9px #d8d8d8;}
.testimonial .pic { float: none; margin: 20px auto 0; min-width: 250px; text-align: center; }
.testimonial-content { float: left; margin: 10px; }
.upper_quote { font-size: 38px; font-weight: 900; }
.lower_quote { font-size: 38px; font-weight: 900; float: right; }
.testimonial .description { font-size: 14px; line-height: 20px; display: inline; }
.testimonial .pic img { height: 82px; border-radius: 81px; width: 82px !important; display: inline !important; }
.bg_image_layer { background-image: url(../images/bglayer.png); background-color: #fff; background-repeat: no-repeat; background-position: center; background-size: cover; }
.margin0 { margin: 0px !important; }
.new_risk_box { padding: 10px; background-color: #F0F0F0; border-radius: 4px; box-shadow: 7px 7px 14px #d8d8d8, -7px -7px 14px #ffffff; }
.risk_first_image { border-radius: 5px 5px 0px 0px;width: 100%; }
.new_risk_box_content_1 { background-color: #314F6B;border-radius: 0px 0px 5px 5px; }
.new_risk_box_content1 p { text-align: left; font-size: 16px; color: #fff; }
.new_risk_box_content2 { padding: 0px 10px; }
.new_risk_box_content2 p { text-align: left; font-size: 14px; color: #fff; margin-bottom: 0px; }
.earth_content { background: #f0f0f0; text-align: center; cursor: pointer; box-shadow: 7px 7px 14px #d8d8d8, -7px -7px 14px #ffffff; position: absolute; width: 200px; height: 200px; border-radius: 50%; transition: all 0.5s; padding: 15px; }
.earth_content1 { top: -85px; left: 32%; }
.earth_content2 { top: 27%; left: 30%; }
.earth_content3 { top: auto; bottom: -80px; left: 32%; }
.earth_content4 { left: -65px; top: 0%; }
.earth_content5 { left: auto; top: 0%; right: -90px; }
.earth_content6 { left: -65px; top: auto; bottom: 0%; }
.earth_content7 { left: auto; top: auto; bottom: 0%; right: -90px; }
.earth_content p { font-weight: 600; margin: 10px 0 0; margin-top: 80px; color: #231E22; }
.earth_content:hover .con-small { transition: all 0.5s; background: #86e0d5; border-radius: 50%; padding: 10px; width: 95px; height: 95px; }
.earth_content:hover .con-small p { color: #fff; margin-top: 30px; }
.hidemobile{display:none;}
.showdesktop{display:block;}
.life_box_div {
    display: flex;
    flex-wrap: wrap;
}
.life_box_outer {
    position: relative;
    display: flex;
    float: left;
}
.owl-carousel .owl-stage{display: flex;}
.item {
    display: flex;
    flex: 1 0 auto;
    height: 100%;
    padding:20px;
}
.items {
    display: flex;
    flex: 1 0 auto;
    height: 100%;
}
.life_box {
    cursor: pointer;
    padding: 10px;
    display: inline-block;
    float: left;width: 100%;
    margin-top: 20px;
    box-shadow: -6px -6px 15px #ffffffd9;
    border-radius: 5px;
    min-height: 160px;
    text-align: center;
}
.life_box img {
    margin-top: 15px;
    width: 60px !important;
    height: 60px;    margin: 0 auto;
    margin-bottom: 40px;
}
.perfect p {
    letter-spacing: 0.84px;
    color: #231E22;
    font-size: 18px;
    text-align: center;
}
.life_box_hover {
    text-align: center;
    display: none;
    background: #86E0D5 0% 0% no-repeat padding-box;
    box-shadow: -6px -6px 15px #d5c1c1d9;
    padding: 10px;
    text-align: left;
    border-radius: 5px;
    min-height: 300px;
    position: absolute !important;
    z-index: 1;
    bottom: 0px;
    cursor: pointer;
}

.life_box_blue {
    background: transparent linear-gradient( 
180deg , #86E0D5 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;border: 1px solid #86E0D5;
}
.life_box_reddis {
    background: transparent linear-gradient( 
180deg , #86E0D5 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;border: 1px solid #86E0D5;
}
.life_box_dark_blue {
    background: transparent linear-gradient(
180deg, #F6835F 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;border: 1px solid #F6835F;
}
.life_box_green {
    background: transparent linear-gradient(
180deg, #63C455 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;border: 1px solid #63C455;
}
.life_box_blue_dark {
    background: transparent linear-gradient(
180deg, #8686E0 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;border: 1px solid #8686E0;
}
.text_align_left {
    text-align: left !important;
}
.life_box_outer:hover .life_box_hover {
    display: block;
}
.display_flex{display: flex;}
.width100{width: 100%;}

.new_risk_box{
    box-shadow: 7px 7px 14px #d8d8d8, -7px -7px 14px #ffffff;
    /* border-bottom: 3px solid #0AA693; */
    margin-bottom: 20px;
}

.risk_first_image{
    vertical-align: middle;
    width: 100% !important;
    min-width: 100%;
}
.img_box img{
    width: 100%;
}
.text-white{
    color: #ffffff;
}
.next_btn{
    padding: 15px 30px;
    display: inline-block;
    box-shadow: 7px 7px 14px #d8d8d8, -7px -7px 14px #ffffff;
    border-radius: 10px;
    background-color: #F0F0F0 !important;
    letter-spacing: 0.6px;
    color: #231E22;
    border: unset;
}
.services_link{
    display: inline-block;
    box-shadow: 7px 7px 14px #d8d8d8, -7px -7px 14px #ffffff;
    border-radius: 10px;
    background-color: #F0F0F0 !important;
    letter-spacing: 0.6px;
    color: #231E22;
    font-size: small;
    border: unset;
    margin-bottom: 0.8rem;
    height: 48px;
    width: -webkit-fill-available;
    line-height: 40px;
    text-align: center;
    
}

.sidebar-menu ul{
    padding: 0;
}
.sidebar-menu ul li{
    list-style: none;
    
}
.form-control{
    border-radius: 10px;
    font-size: 12px;
    height: 48px;
}
.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 10px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 90%;
    left: 50%;

}
.bg{
    box-shadow: inset 7px 7px 9px #bcbcbc, inset -7px -7px 13px #ffffff;
    padding: 17px;
    border-radius: 20px;
    width:700px;
}
.mbg{
    padding: 0px;
    padding-top: 15px;
    height: 500px;
    width: 600px;
}
