.display_none{
	display: none;
}
.error, .required{
	color:red;
}
.page-title {
    background-color: #f7f7f7;
    height: 65px;
    margin-left: -15px;
    margin-right: -15px;
    padding: 1px 0 1px 13px;
	margin-top: 10px;
}
.page-title h1 {
    margin-top: 14px;
	display:inline-block;
}
.page-title a {
    margin-top: 11px;
    background: none;
    margin-right: 10px;
	display:inline-block;
}
#table_view{
	margin-top:50px;
}