
@media(max-width:461px)

{
.header{
		margin-top:20px;
	}
.pad-bottom-50{
	padding-bottom:26px !important;
    }
.section-wrapper{
	    padding: 14px 0 !important;
    }
.footer-widget-section{
	padding-bottom:0px !important;
	padding-top:50px !important;
}
h2{
	
    font-size: 36px;
}
.logo{
	padding-left:61px;
}

.section-title h2{
	font-size:27px !important;
}
.footer .widget-about .group-col .phone{
	font-size:19px !important;
}
p{
	text-align:justify;
}

.contact_form{
	    margin: 0px 10px;
}

h3{
	font-size:19px !important;
}

.lsize{
	    font-size: 20px !important;
}

.pad-bottom-30{
	     padding-bottom: 0px !important;
}
.btn-primary{margin-bottom:17px !important;}
.pad-bottom-80{
	    padding-bottom: 42px !important;
}
.right-sidebar, .left-sidebar{
	     margin-top: 0px !important;
    padding-top: 16px !important;
	 border-top:none !important; 
}
.img1{width: 100% !important;
    padding-right: 10px;
}
.consult{
	padding-top:0px !important;
	font-size:24px !important;
}

.radioBtnClass1{line-height: 14px !important;}
}
@media(min-width:461px) and (max-width:767px)
{
	
}

@media only screen and (min-width:768px) and (max-width:992px)
{
	
}
